.env
.env.*
!.env.example
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/raw/
data/processed/
**/.pbi/localSettings.json
**/.pbi/cache.abf
**/.pbi/unappliedChanges.json
*.log
**/.pbi/editorSettings.json
